n8n/workflows/01-new-order.json
{
  "id": "rotWorkflow01",
  "name": "01 — New Order — Analyst Agent Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-order",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-new-order",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "new-order"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/auth/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "username", "value": "admin" },
            { "name": "password", "value": "admin123" }
          ]
        },
        "options": {}
      },
      "id": "login",
      "name": "Login as admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/api/agents/analyst/run/by-order/{{ $('Webhook').item.json.body.orderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.accessToken }}" }
          ]
        },
        "options": {}
      },
      "id": "call-analyst-agent",
      "name": "Run Analyst Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Login as admin", "type": "main", "index": 0 }]]
    },
    "Login as admin": {
      "main": [[{ "node": "Run Analyst Agent", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
