n8n/workflows/02-daily-report.json
{
  "id": "rotWorkflow02",
  "name": "02 — Daily Anomaly Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 8 * * *" }
          ]
        }
      },
      "id": "cron",
      "name": "Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/auth/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "username", "value": "admin" },
            { "name": "password", "value": "admin123" }
          ]
        },
        "options": {}
      },
      "id": "login",
      "name": "Login as admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/api/reports/daily",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.accessToken }}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-report",
      "name": "Get Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ text: `Daily report: ${$json.totalOrders} orders, €${($json.totalAmount/100).toFixed(2)} total volume, ${$json.suggestionsCount} suggestions, ${$json.feedbacksCount} feedbacks`, report: $json }) }}",
        "options": {}
      },
      "id": "post-to-slack",
      "name": "Post to mock Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Daily 08:00": {
      "main": [[{ "node": "Login as admin", "type": "main", "index": 0 }]]
    },
    "Login as admin": {
      "main": [[{ "node": "Get Daily Report", "type": "main", "index": 0 }]]
    },
    "Get Daily Report": {
      "main": [[{ "node": "Post to mock Slack", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  }
}
