n8n/workflows/04-retraining.json
{
  "id": "rotWorkflow04",
  "name": "04 — Retraining — Export Phoenix Dataset",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retraining",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-retraining",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "webhookId": "retraining"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/auth/login",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "admin"
            },
            {
              "name": "password",
              "value": "admin123"
            }
          ]
        },
        "options": {}
      },
      "id": "login",
      "name": "Login as admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/api/datasets/export",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $('Webhook').item.json.body.limit || 100 }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "export-dataset",
      "name": "Export Phoenix Dataset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Login as admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login as admin": {
      "main": [
        [
          {
            "node": "Export Phoenix Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ac8b79d-2884-4c13-a0c5-0291b7db479e"
}